.card {
  background-color: $first-background-color;
  border-radius: 10px;
  box-shadow: 0 4px 5px $fourth-black;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 400px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s;

  &__show-inks {
    width: 40px;
    height: 40px;

    svg {
      color: $first-gray;
    }

    &--is-showing {
      transition: transform 0.8s;
      transform: rotate(180deg);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;

    a,
    button {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      color: $first-gray;
      font-size: 17px;
      font-weight: 400;

      &:hover {
        color: $first-white;
        border-radius: 10px;
        background-color: $first-blue;
      }
    }
  }

  &:hover {
    transform: translateX(15px);
  }
}
