.card {
  background-color: $tertiary-background-card;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
}
