.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  &::before {
    border-color: $first-blue;
    border-right-color: transparent;
    animation-duration: 2s;
  }

  &::after {
    border-color: $first-gray;
    border-left-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
