.text-input {
  display: flex;
  align-items: center;
  width: 100%;

  transition: 1s;

  svg {
    margin-top: 10px;
    margin-right: 10px;
    min-height: 20px;
    min-width: 20px;
  }

  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: $first-black;
    width: 100%;
  }

  &__input {
    font-size: 13px;
    line-height: 16px;
    color: $first-black;
    border-radius: 4px;
    width: 100%;
    min-width: 250px;
    height: 35px;
    border: 1.5px solid $first-blue;
    flex: 1;

    &--error {
      border: 1.5px solid $first-red;

      @media (max-width: 480px) {
        min-width: 200px;
      }
    }
  }
}
