.tooltip-alert {
  height: 100%;

  margin-top: 20px;
  margin-left: 3px;
  color: $first-red;

  cursor: pointer;

  svg {
    margin: 0;
  }

  &__error {
    position: relative;

    span {
      word-break: break-word;
      width: 100%;
      min-width: 200px;
      flex-wrap: wrap;
      text-align: center;
      background-color: $first-red;
      padding: 8px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      color: $first-white;

      opacity: 0;
      transition: opacity 0.4s;
      visibility: hidden;

      position: absolute;
      bottom: calc(100% + 12px);
      left: 93%;
      transform: translateX(-100%);
    }

    &:hover span {
      opacity: 1;
      visibility: visible;
    }
  }
}
