.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.5px;
  width: 90%;
  border-top: 0.5px solid $fifth-gray;
  align-self: center;
  font-size: 18px;

  &--title {
    color: $first-blue;
    font-weight: bold;
    word-break: break-word;
    margin: 20px 10px 0 10px;
    white-space: nowrap;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
      min-width: 50px;
    }
  }

  &--type {
    color: $first-orange;
    font-weight: bold;
    word-break: break-word;
    margin: 20px 10px 0 10px;
    white-space: nowrap;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
      min-width: 50px;
    }
  }

  &--created {
    color: $first-green;
    font-weight: bold;
    margin: 20px 10px 0 10px;
  }
}
