.line {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 0.5px;

  &--title {
    margin: 0;
  }

  &--text {
    color: rgb(39, 189, 39);
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }
}
