.line {
  color: $secondary-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 0.5px;

  &--title {
    margin: 0;
  }

  &--text {
    color: $primary-green;
    background-color: $secondary-background-card;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }
}
