$primary-white: #ffffff;
$secondary-white: #eee;

$primary-blue: #2d9cdb;

$primary-gray: #828282;
$secondary-gray: #dedede;
$tertiary-gray: #666360;
$quarterly-gray: #616161;

$primary-background-color: #f2f2f2;
$secondary-background-card: #22254b;
$tertiary-background-card: #373b69;

$primary-black: #2c2c2c;
$secondary-black: #11111199;
$tertiary-black: #333333;
$quarterly-black: rgba(0, 0, 0, 0.2);
$quinquennial-black: #212121;

$primary-green: rgb(39, 189, 39);
