.sign-up-template {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  &__spinner {
    width: 100%;

    &::before,
    &::after {
      width: 20px;
      height: 20px;
      border-radius: 100%;
    }

    &::before {
      border-color: $primary-blue;
      border-right-color: transparent;
      animation-duration: 2s;
    }

    &::after {
      border-color: $primary-white;
      border-left-color: transparent;
    }
  }
}
