.wrapper-auth-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  height: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      margin-top: -1px;
    }
  }
}
