.button {
  height: 45px;
  width: 100%;
  min-width: 250px;
  margin-top: 10px;
  border-radius: 25px;
  line-height: 17px;

  &__styles {
    &--primary {
      color: $first-white;
      background-color: $first-blue;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;

      &:hover {
        background-color: darken($first-blue, 5%);
      }
    }

    &--secondary {
      font-size: 14px;
      line-height: 17px;
      color: $first-gray;
      border: 1.5px solid $second-gray;
      background-color: $first-white;

      &:hover {
        background-color: darken($first-white, 5%);
      }
    }
  }

  & + button {
    margin-top: 10px;
  }
}
