.container-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  padding: 3rem;
  box-shadow: 0 4px 5px $fourth-black;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    h1 {
      color: $fifth-black;
      font-size: 30px;
      text-align: center;
      word-break: break-word;
      margin: 0;
    }

    span {
      text-align: end;
      color: $fourth-gray;
      margin-left: 20px;
      font-size: 20px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 250px;
    flex-wrap: nowrap;
    width: 100%;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    &__wrapper-info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      width: 50%;

      article {
        margin-top: 10px;
      }

      &--title {
        color: $first-blue;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &--histories {
        font-size: 18px;
        line-height: 23.4px;
        color: $third-gray;
        text-align: start;
        max-width: 440px;
        padding-bottom: 30px;
        word-break: break-word;
      }
    }
  }
}
